.Footer{
    width: 100%;
    background-color: #ebebebe2;
    padding-bottom: 40px;
}
.footer_Container{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    padding-top: 50px;
    height: auto;
}
.footer_Container>div{
    margin-top: 10px;
    text-align: left;
    width: 280px;
    height: 310px;
    margin: auto;
    padding: 10px;
}
.main_heading{
    font-size: medium;
    font-weight: bolder;

}
.subcategory{
    line-height: 1.8;
    font-weight: bolder;
    color: gray;
    font-family: Poppins, sans-serif;
}
.socialdiv{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.lastbox{
    border: 1px solid black;
    width:auto;
    width: 1200px;
    margin: auto;
    font-size:14px;
    padding: 10px;
    margin-top: 15px;
    
}