.formdiv{
    width:350px;
    margin: auto;
    text-align: left;
}
.formbtn{
    width:350px;
    background-color: #a3b49b;
    height: 44px;
    color:white;
    font-size: 16px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formbtn:hover{
    background-color: rgb(77, 77, 77);
}
.lostpass:hover{
    text-decoration: underline;

}
.lostpass{
    margin-bottom: 30px;
}
.newcust{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    width:350px;
    margin-bottom: 30px;
}
.formbtn2{
    width:350px;
    background-color: #6b6b6a;
    height: 44px;
    color:white;
    font-size: 12px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 10px;   
}